@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+P+One&family=Montserrat:wght@700&family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@300;700&family=Roboto:wght@300&display=swap");
/* Reset default settings*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  --backColor: #000;
  --linkActiveColor: #2196f3;
  --whiteColor: #fff;
  --grayColor: #4a4a4a;
  --borderColor: #d9d9d9;
  --averageColor: #a0b0b9;
}

.App {
  margin: auto;
  width: 40%;
  padding: 10px;
  border: 1px solid var(--borderColor);
  margin-top: 50px;
}
.App .page-title {
  color: var(--grayColor);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.App .flex-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.App .flex-items .link-item {
  border: 1px solid var(--borderColor);
  padding: 5px 10px;
  color: var(--grayColor);
}
.App .flex-items .active {
  background-color: var(--linkActiveColor);
  color: var(--whiteColor);
}
.App .errors {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.App .errors .faCircle {
  font-size: 8px;
  color: #8bc34a;
  margin-bottom: 2px;
  margin-right: 4px;
}
.App .errors .error-item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--grayColor);
}
.App .errors .error-item p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--averageColor);
}
.App .progress-container {
  display: flex;
  flex-direction: row;
  height: 5px;
  margin-top: 5px;
  width: 100%;
}
.App .progress-container span {
  width: 100px;
}
.App .error-number {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.App .error-number p {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--grayColor);
  margin-top: 15px;
}
.App .error-number .faSquare {
  font-size: 8px;
  margin-bottom: 2px;
  margin-right: 4px;
}
.App .error-number .fs1 {
  color: #ffcc00;
}
.App .error-number .fs2 {
  color: #5856d5;
}
.App .error-number .fs3 {
  color: #2196f3;
}
.App .error-number .fs4 {
  color: #a0b0b9;
}
.App .statistics-container {
  width: 100%;
  margin-top: 30px;
}
.App .statistics-container .stats-flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 30px;
}
.App .statistics-container .stats-flex .search-flex {
  width: 100%;
}
.App .statistics-container .stats-flex .search-flex .search {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.App .statistics-container .stats-flex .search-flex .faIcons {
  color: var(--whiteColor);
  background-color: var(--linkActiveColor);
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
.App .statistics-container .stats-flex .search-flex .search h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--grayColor);
}
.App .statistics-container .stats-flex .search-flex .search span {
  background: #8bc34a;
  border-radius: 60%;
  padding: 7px;
  font-size: 10px;
  color: var(--whiteColor);
}
.App .statistics-container .stats-flex .search-flex .yesterday {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.App .statistics-container .stats-flex .search-flex .yesterday p:first-child {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--grayColor);
}
.App .statistics-container .stats-flex .search-flex .yesterday p:nth-child(2) {
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--grayColor);
}
.App .statistics-container .stats-flex .search-flex .last-friday {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.App .statistics-container .stats-flex .search-flex .last-friday p:first-child {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--averageColor);
}
.App .statistics-container .stats-flex .search-flex .last-friday p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--averageColor);
}
.App .statistics-container .stats-flex .traffic {
  width: 100%;
}
.App .statistics-container .stats-flex .traffic p:first-child,
.App .statistics-container .stats-flex .traffic p:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
}
.App .statistics-container .stats-flex .traffic p:nth-child(3) {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: var(--averageColor);
}
.App .statistics-container .stats-flex .help {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.App .statistics-container .stats-flex .help p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: var(--grayColor);
}
.App .statistics-container .stats-flex .help p:nth-child(2) {
  color: var(--linkActiveColor);
}
.App .statistics-container .stats-flex .clicks {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.App .statistics-container .stats-flex .clicks h4 {
  color: #ff6a67;
}
.App .statistics-container .stats-flex .clicks span {
  background-color: #ff6a67;
  border-radius: 60%;
  padding: 5px;
  font-size: 10px;
  color: var(--whiteColor);
}
.App .statistics-container .stats-flex .clicks-traffic {
  width: 100%;
}
.App .statistics-container .stats-flex .clicks-traffic h4 {
  font-size: 12px;
  color: #ff6a67;
}
.App .statistics-container .stats-flex .clicks-traffic p {
  font-size: 8px;
}
.App .statistics-container .stats-flex .clicks-traffic .help p {
  font-size: 12px;
  margin-top: 5px;
}/*# sourceMappingURL=App.css.map */